@{
    ViewData["Title"] = "Home Page";
}

<section class="content u-clearfix u-section-1" id="sec-088d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="greeting u-align-center u-text u-text-default u-text-1">
            <span class="u-text-palette-5-dark-2">Freemer - понятный ресурс для фрилансеров</span>
        </h1>
        <div class="mainPicturesBlock u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-image u-layout-cell u-size-20 u-image-1" data-image-width="1080" data-image-height="1618">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h4 class="u-custom-font u-font-montserrat u-text u-text-palette-2-dark-2 u-text-2">
                                Все просто:<br>- создай заказ,<br>- предложи свою цену,<br>- получи исполнителя!<br>
                                <br>Или:<br>- подпишись на раздел,<br>- подтверди участие в отборе,<br>- получи работу!
                            </h4>
                            <img class="u-expanded-width u-image u-image-2" src="images/301424269-01.jpeg">
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="5128" data-image-height="3419">
                        <div class="u-container-layout u-container-layout-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="u-align-center u-text u-text-default u-text-3">
            <span class="u-text-palette-5-dark-2">Freemer - понятный ресурс для фрилансеров</span>
        </h1>
    </div>
</section>
