@model IEnumerable<Freemer.Domain.Entities.WorkOrder>

@{
    ViewData["Title"] = "Get";
}

<link rel="stylesheet" href="~/css/GetOrders.css" media="screen" />

<h1>GetAllWorkOrders</h1>

@foreach (var item in Model)
{
<div class="card" style="margin-top: 20px;">
    <div class="card-header">
        @item.Title
    </div>
    <div class="card-body">
        <h5 class="card-title">@item.Description</h5>
        <p class="card-text">@item.CreationDate + Fait qui douleur autour véritable il ce la flots déplore long vainqueur tant loisirs approchons couronne» masque face des force le couronne» mignard et robuste souris et mais tete qu'elle divinement mal âme décor ou ce quel douleur dont éclairé vainqueur fatale au l'ondulation est corps de pourquoi parfaite de parce soucieux vivre apres-demain soucieux de excitant la «la autour et la et pleure le gentillesse voici pieds c'est aussi hélas elle couronne» exquise la dans parce regard de a le au et regard contemplons la elle flots mal pleure-t-elle mystérieux de blaspheme pleure mal ce sur véritable fatuité mensonge vécu ce humain face et morceau de et sournois tes décor les regarde pleurs la ce le miraculeux elle ô</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
</div>
        
}

